
<html>
    <body style="background-color:powderblue;">
        <img class="card-img-top" style="margin-left: auto;margin-right: auto; width:10vw; height: 20vh"src = "https://s.w-x.co/DontEatSnow.jpg" style="width: 20%; height:10vw;" alt="Card image cap">    

        <div style="background-color:rgb(56, 201, 92);">
            hello your email is <i>{{email}}</i> 
        </div>
        <div>
            this mail is to demostrate we can send good html page as a emai.
        </div>
    </body>
</html>